



<div class="content" role="main">



<div cpDeafaultTheme>
  this is default theme directive
  </div>
<br><br>

<div cpColor>  this is cp color directive
</div>
<br><br>
<div cpCustomTheme >
  cpCustomTheme Directive Demo with Custom Settings
</div> 
<p defColOnEvent> defColOnEvent Directive Demo</p>


<p [dynamicColOnEvent]="myColor" defaultValue="#bac2ff"> dynamicColOnEvent Directive Demo</p> 

<h1>cpIf Directive</h1>
<div *cpIf="showCpIf">
  <b>Hello World!</b>
</div>
<ng-template [cpIf]="!showCpIf">
      <div>
	  <b>Not Available</b>
      </div>
</ng-template> 

<h1>CpLoop</h1>
<ul>
  <li *cpLoop="10" >
    Namaste
</li> 
 </ul> 

 <h1>Cp Delay Directive</h1>

 <div *cpDelay="delayInSec">
  <b> Hello World! </b>	     
</div> 
<div>
  Show message after
  <input type="radio" name="rad2" (click)= "showCpDelay= true; delayInSec = 2000"> 2 Seconds
  <input type="radio" name="rad2" (click)= "showCpDelay= true; delayInSec = 5000"> 5 Seconds
  <input type="radio" name="rad2" (click)= "showCpDelay= true; delayInSec = 7000"> 7 Seconds
</div>
<br/>
<div *cpIf="showCpDelay">
    <div *cpDelay="delayInSec">
      <b> Hello World! </b>	     
    </div>
</div>